<!DOCTYPE html>
<html>
<head>
  <title>Stephanie Snopek</title>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name="description" content="Personal Site">
  <meta name="author" content="GA Student">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <!-- mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="../assets/imgs/favicon.png">
</head>
<body>
  <nav class="brown lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Stephanie Snopek</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#my-work">My Work</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#my-work">My Work</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="container">
      <div class="parallax-container">
        <p>Put image here</p>
      </div>
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div id="about" class="icon-block">
              <h4>Brave Communicator</h4>
              <p>Experienced in leading teams, addressing and resolving conflict, working with managerial feedback and being flexible with the needs of others. Non-violent communication is in my toolbelt.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h4>Jr Full Stack Developer</h4>
              <p>Recently graduated from Web Development Immersive program at General Assembly, with an additional two years of Technical Support experience at npm, Inc. Give me a project and I'll deliver great results.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h4>Awesome Team Player</h4>
              <p>Skilled at managing projects with Trello, reviewing code, working with git/Github and coordinating interdisciplinary teamwork. I love the thrill of working and learning on a diverse team!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <h4 id="my-work">My Work</h4>
          <div class="col s4"><a href="#">project 1</a></div>
          <div class="col s4"><a href="#">project 2</a></div>
          <div class="col s4"><a href="https://learn-punjabi.herokuapp.com/">Learn Punjabi</a></div>
        </div>
      </div>
      <div class="parallax-container">
        <p>Put image here</p>
      </div>
      <div class="section">
        <div class="row">
        <h4 id="contact">Contact</h4>
        <div class="col s4"><a href="https://www.linkedin.com/in/snopeks/"> LinkedIn</a></div>
        <div class="col s4"><a href="https://github.com/snopeks">Github</a></div>
        <div class="col s4"><a href="mailto:stephaniesnopek@gmail.com">Email me</a></div>
      </div>
      </div>
    </div>
  </div>
<footer class="page-footer brown darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Stephanie Snopek</h5>
                <p class="grey-text text-lighten-4">Let's connect!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="../assets/js/init.js"></script>
</body>
</html>
