/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: white; 
}
nav {
  background-color: grey; 
}
nav ul a,
nav .brand-logo {
  color: white;
}
.logo {
  position: absolute; 
  padding: 0; 
  display: inline-block;
  font-size: 30px;
}
.banner {
  max-height: 400px; 
}

.section a:hover {
  color: darkblue; 
}

.intro-section {
  height: 400px; 
  padding-top: 0; 
  position: relative;
  
}
.personal {
  line-height: 200px; 
}
#profile-pic {
  height: 200px; 
  width: auto; 
  border-radius: 50%; 
  vertical-align: middle; 
}
#sf-background {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-image: url(../imgs/goldengatepark.jpeg);
  background-size: cover;
  background-repeat: no-repeat; 
  z-index: -1; 
  opacity: 0.4; 
}
#intro-overlay {
  position: absolute;
  text-align: center; 
  width: 100%; 
  height: 50%; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; 
  z-index: 10; 
}

p {
  line-height: 2rem;
}
.header {
  font-size: 20px; 
}
.list-creds li{
  list-style-type: square !important ;
}

.button-collapse {
  color: white;
}

@media only screen and (max-width : 992px) {
  .logo {
    font-size: 35px; 
    left: 30%; 
    
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .logo {
    font-size: 25px; 
    left: 30%; 
  }
}

@media only screen and (max-width: 350px){
  .logo {
    font-size: 21px; 
    left: 25%; 
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}